<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sang.mapper.XhxRiskSetUpMapper" >
  <resultMap id="BaseResultMap" type="org.sang.bean.XhxRiskSetUp" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="receive_mode" property="receive_mode" jdbcType="VARCHAR" />
    <result column="mails" property="mails" jdbcType="VARCHAR" />
    <result column="send_cycle" property="send_cycle" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,  userId, receive_mode, mails, send_cycle, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from xhx_risk_set_up
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xhx_risk_set_up
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.sang.bean.XhxRiskSetUp" >
    insert into xhx_risk_set_up (id,  userId,
      receive_mode, mails, send_cycle, 
      createTime, updateTime)
    values (#{id,jdbcType=BIGINT},  #{userId,jdbcType=BIGINT},
      #{receive_mode,jdbcType=VARCHAR}, #{mails,jdbcType=VARCHAR}, #{send_cycle,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.sang.bean.XhxRiskSetUp" >
    insert into xhx_risk_set_up
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="receive_mode != null" >
        receive_mode,
      </if>
      <if test="mails != null" >
        mails,
      </if>
      <if test="send_cycle != null" >
        send_cycle,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="receive_mode != null" >
        #{receive_mode,jdbcType=VARCHAR},
      </if>
      <if test="mails != null" >
        #{mails,jdbcType=VARCHAR},
      </if>
      <if test="send_cycle != null" >
        #{send_cycle,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.sang.bean.XhxRiskSetUp" >
    update xhx_risk_set_up
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="receive_mode != null" >
        receive_mode = #{receive_mode,jdbcType=VARCHAR},
      </if>
      <if test="mails != null" >
        mails = #{mails,jdbcType=VARCHAR},
      </if>
      <if test="send_cycle != null" >
        send_cycle = #{send_cycle,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sang.bean.XhxRiskSetUp" >
    update xhx_risk_set_up
    set userId = #{userId,jdbcType=BIGINT},
      receive_mode = #{receive_mode,jdbcType=VARCHAR},
      mails = #{mails,jdbcType=VARCHAR},
      send_cycle = #{send_cycle,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAllDeps" resultMap="BaseResultMap">
    select * from xhx_risk_set_up
  </select>

  <select id="getModelByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from xhx_risk_set_up where userId = #{userId,jdbcType=BIGINT}
  </select>

  <insert id="addRiskSetUp" >
    insert into xhx_risk_set_up (id,  userId,
      receive_mode, mails, send_cycle,
      createTime, updateTime)
    values (#{id,jdbcType=BIGINT},  #{userId,jdbcType=BIGINT},
      #{receive_mode,jdbcType=VARCHAR}, #{mails,jdbcType=VARCHAR}, #{send_cycle,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateSelective" >
    update xhx_risk_set_up
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="receive_mode != null" >
        receive_mode = #{receive_mode,jdbcType=VARCHAR},
      </if>
      <if test="mails != null" >
        mails = #{mails,jdbcType=VARCHAR},
      </if>
      <if test="send_cycle != null" >
        send_cycle = #{send_cycle,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>